body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(191, 236, 221); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.item-cart{
  color: brown;
}
.btn{
  font-size: 15px;
  border-radius: 5px;
  padding:10px ;
}

.btn1{
  font-size: 15px;
  border-radius: 5px;
  padding:10px ;
}


           /* ********* */

.page {
  height: 100vh;
  width: 100%;
}

.button1{
  font-size: large;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 10px;
  background-color: red;
}
.button2{
  font-size: large;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 10px;
  background-color: yellow;
}
.button3{
  font-size: large;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 10px;
  background-color: green;
}
.button4{
  font-size: large;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 10px;
  background-color: pink;
}
